<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
	<div class="modal-header dialog-header-confirm">
		<h4 class="modal-title">
			<span translate="TRYITNOW_ERROR_LABEL" translate-default="Error"></span>
		</h4>
	</div>
	<div class="modal-body clearfix">
		<ng-form name="nameDialog" role="form">
			<div class="form-group input-group-lg row_height_30">
				<div>
					<div>This feature is currently encountering an error. Please try again later or create a free account by clicking on the <b>Register Now</b> button.</div>
				</div>
			</div>
		</ng-form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-primary" data-ng-click="registerWithUs();"><span translate="TRYITNOW_REGISTER_BUTTON"
			 translate-default="Register Now"></span></button>
	</div>
</div>