<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <form name="pdfPassword">
	    <div class="modal-header dialog-header-confirm">
	        <h4 class="modal-title" translate="RETURNCUSTOMPASSWORD_SETPDFPASSWORD_HEADER" translate-default="Custom Password">
	        </h4>
	    </div>
	    <div class="modal-body clearfix">
	        <ng-form name="nameDialog" role="form">
	            <div class="form-group input-group-lg row_height_30">
	                <div>
	                   	<div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 row_height_30">
						   <div class="row">
							<div class="col-lg-6 col-md-10 col-sm-10 col-xs-24 padding_l_0">
                            <label translate="RETURNCUSTOMPASSWORD_ENTERPASSWORD_LBL" translate-default="Enter Password"></label>
                           </div>
                           <div class="col-lg-6 col-md-10 col-sm-10 col-xs-24">
                            <input type="text" name="enterPassword"
                                   class="newusertextbox form-control "
                                   data-ng-model="customPasswordDetails.customPassword" />
							</div>
						</div>
						</div>
						<div class="row">
                            <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 margin_top_10">
                        	<span translate="RETURNCUSTOMPASSWORD_NOTE_SPAN" translate-default="<b>Note:</b> You selected to use a custom password. To change your settings open the Change Preferences screen."></span>
						</div>
						</div>
	                </div>
	                <div>
	                    
	                </div>
	            </div>
	        </ng-form>
	    </div>
	    <div class="modal-footer">
		    <div class="float-left mr-auto">
	          	<button type="button" name="ignorPassword" id="ignorePassword" class="custom_input float-left margin_right_5" data-ng-class="{'active':customPasswordDetails.isIgnorePassword}" data-ng-model="customPasswordDetails.isIgnorePassword" data-ng-click="customPasswordDetails.isIgnorePassword =! customPasswordDetails.isIgnorePassword" ></button>
	          	<span translate="RETURNPDFPASSWORD_DEFAULT_SPAN" translate-default="Do not set password for the printing."></span>
          	</div>
	        <button type="button" class="btn btn-outline-primary" data-ng-click="save(customPasswordDetails)" data-ng-class="{'no-clicking':!((customPasswordDetails.customPassword != undefined && customPasswordDetails.customPassword != '') || (customPasswordDetails.isIgnorePassword != undefined && customPasswordDetails.isIgnorePassword != false))}"><span translate="RETURNPDFPASSWORD_OK_SPAN" translate-default="Ok"></span></button>
	   </div>
    </form>
</div>