<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <form name="pdfPassword">
	    <div class="modal-header dialog-header-confirm">
	        <h4 class="modal-title" translate="RETURNPDFPASSWORD_SETPDFPASSWORD_HEADER" translate-default="Set PDF Password">
	        </h4>
	    </div>
	    <div class="modal-body clearfix">
	        <ng-form name="nameDialog" role="form">
	            <div class="form-group input-group-lg row_height_30">
	                <div class="clearfix col-lg-24 col-md-24 col-sm-24 col-xs-24">
	                   	<button type="button" class="custom_input_dark float-left margin_right_5" data-ng-model="passwordDetails.isPasswordProtectedPDF" data-ng-class="{'active':passwordDetails.isPasswordProtectedPDF==true}" data-ng-click="passwordDetails.isPasswordProtectedPDF =! passwordDetails.isPasswordProtectedPDF;uncheckForPasswordType(passwordDetails.isPasswordProtectedPDF)"></button> 
	                   	<span translate="RETURNPDFPASSWORD_SECUREPASSWORD_SPAN" translate-default="Do you want to secure pdf with password ? You may change your decision from preference screen."></span>
	                </div>
	                <div data-ng-if="passwordDetails.isPasswordProtectedPDF">
	                    <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
	                    	<div translate="RETURNPDFPASSWORD_DEFAULT_SPAN" translate-default="Select Password Type" class="font_bold margin_top_10"></div>
	                    	<div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 margin_top_10">
	                    	<button type="button" name="defaultPassword" id="defaultPassword" class="custom_input float-left margin_right_5" data-ng-class="{'active':passwordDetails.isProtectedDefaultPassword==true}" data-ng-model="passwordDetails.isProtectedDefaultPassword" data-ng-click="passwordDetails.isProtectedDefaultPassword=true"></button>
	                    	<span translate="RETURNPDFPASSWORD_DEFAULT_SPAN" translate-default="Default password"></span>
	                    	</div>
	                    	<div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 margin_top_10">
	                    	<div class="col-lg-24 col-md-24 col-sm-24 col-xs-24"><span translate="RETURNSUBSCRIPTION_NOTE_SPAN" translate-default="<b>Note:</b> Password will be combination of first four characters of taxpayer's first name or company name(in case of business return) and last four characters of SSN/EIN."></span></div>
	                    	</div>
	                    </div>
	                    <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 margin_top_10">
	                    	<div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
	                    	<button type="button" name="customPassword" id="customPassword" class="custom_input float-left margin_right_5" data-ng-class="{'active':passwordDetails.isProtectedDefaultPassword==false}" data-ng-model="passwordDetails.isProtectedDefaultPassword" data-ng-click="passwordDetails.isProtectedDefaultPassword=false"></button>
	                    	<span translate="RETURNPDFPASSWORD_CUSTOM_SPAN" translate-default="Custom"></span>
	                    	<div class="col-lg-24 col-md-24 col-sm-24 col-xs-24">
	                    	<div data-ng-if="passwordDetails.isProtectedDefaultPassword==false"> 
	                    		<div class="row row_height_30 margin_top_10">
	                    		<div class="col-lg-8 col-md-24 col-sm-24 col-xs-24">
                                    <label translate="RETURNPDFPASSWORD_ENTERPASSWORD_LBL" translate-default="Enter"></label>
                                    </div>
                                    <div class="col-lg-10 col-md-24 col-sm-24 col-xs-24">
                                    <input type="text" name="enterPassword"
                                           class="newusertextbox form-control "
                                           data-ng-model="passwordDetails.customPassword"
                                           ng-required="!passwordDetails.customPassword && passwordDetails.isProtectedDefaultPassword==false" />
                                           </div>
                                </div>
	                    	</div>
	                    	</div>
	                    	</div>
						</div>
	                </div>
	            </div>
	        </ng-form>
	    </div>
	    <div class="modal-footer">
	        <button type="button" class="btn btn-outline-primary" data-ng-click="save()" data-ng-class="{'no-clicking':pdfPassword.$invalid }"><span translate="RETURNPDFPASSWORD_OK_SPAN" translate-default="Ok"></span></button>
	    </div>
    </form>
</div>