<style type="text/css">  
    .progress{height: 5px !important;margin-bottom:0px!important;margin-top:5px; background: none repeat scroll 0 0 transparent !important;box-shadow: none !important;-webkit-box-shadow:none !important;}
    .popover-content{padding: 6px 16px !important;}
    .margin-top_minus_10{margin-top:-10px;}
    .static_form_wrap label {height: 30px; line-height: 30px;}
    .popover-content {
  width: 465px;
   color: #f0514a;
      font-size: 14px;
  }
  .popover.fade.in { height: auto !important;opacity: 1;}
    </style>
<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title">
            <span class="text-left">Change Password</span>
        </h4>
    </div>
    <div class="modal-body clearfix">
        <form name="changePasswordForm">
            <div class="col-lg-24 col-sm-24 col-md-24 col-xs-24">
                <div class="row">
                    <div class="col-lg-8 col-sm-14 col-md-16 col-xs-12">
                        <label translate="CHANGEPASSWORD_NEWPASS_LBL" translate-default="New Password"></label>
                    </div>
                    <div class="col-lg-10 col-sm-10 col-md-8 col-xs-12 float-left popover_wrap">
                        <input type="password" name="newPassword" id="newPassword" class="form-control form-control-lg" data-ng-model="changePassword.newPassword" ng-required="!changePassword.newPassword" value="{{changePassword.newPassword}}"
                               taxpattern-ignorecase="true" taxpattern-reverse="true" taxpattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&.,():_-])[A-Za-z\d$@#$!%*?&.,():_-]{8,}" data-ng-class="{'patternerror':changePasswordForm.newPassword.$error.taxpattern}"
                               popover-placement="right" popover-trigger="blur" popover="{{(changePasswordForm.newPassword.$error.taxpattern) ? 'The password must be at least eight characters long and it must include one uppercase and one lowercase letter (A-Z, a-z), one numeric character (0-9), and one special character from the following list: (&!%*.,$:@#-_?). ' : ''}}">
                        <div class="progress-manage-user margin_top_10 margin_bottom_10">
                            <div class="progress-bar" ng-class="{'progress-bar-success':passwordStrength.type === 'strong', 'progress-bar-warning': passwordStrength.type === 'ok', 'progress-bar-danger': passwordStrength.type === 'weak'}" aria-valuenow="{{ passwordStrength.score }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ passwordStrength.score }}%"></div>
                        </div>
                    </div>
                </div>
                <div class="row margin-top_minus_10">
                    <div class="col-lg-8 col-sm-14 col-md-16 col-xs-12">
                        <label translate="CHANGEPASSWORD_VERNEWPASS_LBL" translate-default="Confirm Password"></label>
                    </div>
                    <div class="col-lg-10 col-sm-10 col-md-8 col-xs-12 float-left">
                        <div class="clearfix popover_wrap">
                            <input type="password" name="newVerifyPassword" id="newVerifyPassword" class="form-control form-control-lg position_relative" data-ng-model="changePassword.newVerifyPassword" i-match="changePassword.newPassword" ng-required="changePasswordForm.newVerifyPassword.$error.iMatch || !changePassword.newVerifyPassword" value="{{changePassword.newVerifyPassword}}"
                                   popover-placement="right" popover-trigger="blur" popover="{{(!changePasswordForm.newPassword.$error.taxpattern && changePasswordForm.newVerifyPassword.$error.iMatch) ? 'Password does not match.' : ''}}">
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span class="color_red float-left padding_top_7" data-ng-show="isError">There is something wrong with this request.</span>
        <button class="btn btn-outline-primary" data-ng-show="inProcess" data-ng-disabled="true"><span translate="CHANGEPASSWORD_PROCESSING_SPAN" translate-default="Processing..."></span></button>
        <button class="btn btn-outline-primary" data-ng-hide="inProcess" data-ng-disabled="changePasswordForm.$invalid" data-ng-click="changePassword()"><span translate="CHANGEPASSWORD_CHANGE_SPAN" translate-default="Change"></span></button>
        <button class="btn btn-outline-primary" data-ng-hide="inProcess" translate-default="Cancel" data-ng-click="cancel()"><span translate="CHANGEPASSWORD_CANCLE_SPAN" translate-default="Cancel"></span></button>
    </div>
</div>