<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
	<div class="modal-header dialog-header-confirm">
		<h4 class="modal-title"><span translate="LICENSEERROR_TITLE" translate-default="License"></span>
		</h4>
	</div>
	<div class="modal-body clearfix">
		<div class="float-left">
			<span translate="LICENCEERROR_MESSAGE" translate-default="There is something wrong with your license. Please contact support for help."></span>	
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-primary" ng-click="close()" tax-focus-me="focusMe"><span translate="CANCEL_BUTTON" translate-default="Ok"></span></button>
	</div>
</div>