<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title">
            <span class="text-left">Offline Notice</span>
        </h4>
    </div>
    <div class="modal-body clearfix">
        <div class="font_size_16 color_gray">
            Application is not ready to go offline this time. Please reconnect to finish pending activities which are required before you go offline.
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-ng-click="retry()"><span translate="OFFLINEWARNING_RETRY" translate-default="Retry"></span></button>
    </div>
</div>