<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title">
            <span translate="WARNING_TITLE_LBL" translate-default="Rejected Returns"></span>
        </h4>
    </div>
    <div class="modal-body clearfix">
        <div class="col-lg-24 col-sm-24 col-md-24 col-xs-24">
            <div class="row">
                <p>To fix a rejected return follow the steps below:</p>
            </div>
            <div class="row margin_left_10">
               <p>1. Click on the <b>"Unlock"</b> button from the menu bar.</p>
            </div>
            <div class="row margin_left_10">
               <p>2. An Unlock Return dialog will be displayed, click <b>"Unlock".</b></p>
            </div>
            <div class="row margin_left_10">
               <p>3. Fix the rejection.</p>
            </div>
            <div class="row margin_left_10">
               <p>4. Click <b>"Transmit Return"</b> from the E-File menu.</p>
            </div>
            <div class="row margin_left_10">
               <p>5. From the Create E-File For Transmission dialog, select the return you are 
                    retransmitting and press <b>"Send"</b>.</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-ng-click="close()"><span translate="CLOSE_DLG_BTN"
                translate-default="Close"></span></button>
        <button type="button" class="btn btn-outline-primary" data-ng-click="close()"><span translate="OK_DLG_BTN"
                translate-default="OK"></span></button>
    </div>
</div>