<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
<div class="modal-header dialog-header-confirm">
	<h4 class="modal-title">
		<span translate="ERRORDIALOG_TITLE" translate-default="Sorry For Inconvenience"></span>
	</h4>
</div>
<div class="modal-body clearfix">
	<div class="form-group input-group-lg row_height_30">
		<div class="col-lg-24 col-sm-24 col-md-24 col-xs-24">			
			<span>{{errorMessage.displayText}}</span>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-primary" data-ng-click="logout()"><span translate="ERRORDIALOG_OK" translate-default="Ok"></span></button>		
</div>
</div>