<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title">
            <span translate="WARNING_TITLE_LBL" translate-default="Warning"></span>
        </h4>
    </div>
    <div class="modal-body clearfix">
    <div class="col-lg-24 col-sm-24 col-md-24 col-xs-24">
         <div class="row">
            <span translate="TIMEOUT_WARNING_MSG" translate-default="Your session will automatically log out in 2 minutes due to inactivity."></span>
        </div>
    </div>
    </div>
    <div class="modal-footer">	
	<button type="button" class="btn btn-outline-primary" data-ng-click="close('continue')"><span translate="CONTINUE_DLG_BTN" translate-default="Continue"></span></button>
	<button type="button" class="btn btn-outline-primary" data-ng-click="close('signout')"><span translate="LOGOUT_DLG_BTN" translate-default="Log Out"></span></button>        
    </div>
</div>