<div
  style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333; overflow:hidden;">
  <form name="sendTextMessageForm">
    <div class="modal-header dialog-header-confirm">
      <h4 class="modal-title">
        Send Invitation via SMS
      </h4>
    </div>
    <div class="modal-body clearfix">
      <div class="wrapper_class">
        <div class="clearfix col-lg-24 col-sm-24 col-md-24 col-xs-24 margin_bottom_10 padding_l_r_0">
          <div class="col-lg-5 col-sm-10 col-md-7 col-xs-12 padding_l_0">
            <label>Recipient:</label>
          </div>
          <div class="col-lg-19 col-sm-14 col-md-17 col-xs-12 float-left row_height_31 padding_l_0">
            <label>{{data.recipientName}}</label>
          </div>
        </div>
        <div class="clearfix col-lg-24 col-sm-24 col-md-24 col-xs-24 margin_bottom_10 padding_l_r_0">
          <div class="col-lg-5 col-sm-10 col-md-7 col-xs-12 padding_l_0">
            <label>Phone Number:</label>
          </div>
          <div class="col-lg-19 col-sm-14 col-md-17 col-xs-12 float-left row_height_31 padding_l_0">
            <input type="text" name="phoneNumber" id="phoneNumber" [(ngModel)]="data.cellNumber"
              [required]="!data.cellNumber" mask="(000)000-0000">
          </div>
        </div>
        <div class="clearfix col-lg-24 col-sm-24 col-md-24 col-xs-24 margin_top_15 padding_l_r_0">
          <div class="col-lg-5 col-sm-24 col-md-7 col-xs-24 padding_l_0">
            <label>Message</label>
          </div>
          <div class="col-lg-19 col-sm-24 col-md-17 col-xs-24 float-left padding_l_r_0">
            <textarea maxlength="300" name="message" [(ngModel)]="data.message" class="textarea_chat"
              [required]="!data.message"></textarea>
            <div class=" col-lg-24 col-sm-24 col-md-24 col-xs-24 padding_l_r_0">
              <span class="float-right">Max 300 Characters</span>
            </div>
            <div class=" col-lg-24 col-sm-24 col-md-24 col-xs-24 padding_l_r_0">
              <span class="float-right">{{data.message ? data.message.length : 0}} / 300</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="sendTextMessage()">Send</button>
      <button type="button" class="btn btn-outline-primary" (click)="close()">Close</button>
    </div>
  </form>
</div>