<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
  <div class="modal-header dialog-header-confirm">
    <h4 class="modal-title">Verify Email</h4>
  </div>
  <div class="modal-body clearfix">
    <div class="row mb-3">
      <div class="col">
        <span>To verify your email, please enter the 6-digit code that was emailed to you.</span>
      </div>
    </div>
    <div class="form-group row mb-3">
      <div class="col-sm-12">
        <input type="text" class="form-control" id="code" [(ngModel)]="verificationCode" mask="000000">
      </div>
      <div class="col-sm-12">
        <span class="d-block text-danger" *ngIf="showMessage === 1">Code you entered is invalid.</span>
        <span class="d-block text-danger" *ngIf="showMessage === 2">Code you entered is expired.</span>
        <span class="d-block text-success font-weight-bold" *ngIf="showMessage === 3">A new code was sent to the email address you provided.</span>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col text-danger">
        <span class="d-block">Note: This code will expire in 5 minutes.</span>
        <span class="d-block">Please check your spam folder as well.</span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="validate()" [disabled]="!verificationCode || verificationCode.length < 6">Validate Code</button>
    <button type="button" class="btn btn-outline-primary" (click)="resendCode()">Code Not Received</button>
    <button type="button" class="btn btn-outline-primary" (click)="close()">Do It Later</button>
  </div>
</div>