<style>
    .note_text_wrapper{line-height: 1.4;}
    .note_text_wrapper span{color: red;font-size: 12px;}
    @media (max-width: 768px){
        .xs_margin_top_10{margin-top: 10px;}
    }
</style>

<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title">
            Verifiy your Telephone Number
        </h4>
    </div>
    <div class="modal-body clearfix">
        <ng-form name="nameDialog" role="form">
            <div class="input-group-lg row_height_30">
                <div ng-show="!isCodeSend">
                    <div>
                        <span>A code will be sent to your telephone number for verification and security purposes.</span>
                    </div>
                </div>
                <div ng-show="isCodeSend" class="height_20">
                    <div> <span translate="TELEPHONE_VERIFICATION_DIALOG_DESCRIPTION2" translate-default="Please enter the 4-digit code that was sent to you to complete the verification process."></span></div>
                </div>

                <div ng-show="isCodeSend">
                    <div class="row_height_30 margin_top_10">
                        <div class="col-lg-4 col-sm-24 col-xs-24 float-left padding_l_0">
                            <input type="text" data-ng-model="verificationCode" ng-required="!verificationCode" tax-mask="9999" tax-mask-use-view-value="true"
                                class="form-control" />
                        </div>
                        <div ng-show="inValidcode" class="text-danger_normal float-left">
                            <div class="padding_top_5"> <span translate="TELEPHONE_VERIFICATION_DIALOG_ERRORMESSAGE" translate-default="The code you entered is invalid."></span></div>
                        </div>
                        <div ng-show="codeExpired" class="text-danger_normal float-left">
                            <div class="padding_top_5"> <span translate="TELEPHONE_VERIFICATION_DIALOG_ERRORMESSAGE" translate-default="The code you entered is expired."></span></div>
                        </div>
                        <div ng-show="showResendMsg" class="color_green float-left">
                            <div class="padding_top_5"> <span translate="TELEPHONE_VERIFICATION_DIALOG_RETRYMESSAGE" translate-default="A new code was sent to your registered Telephone number."></span></div>
                        </div>
                    </div>
                    <div class="float-left margin_top_10"  style="width: 100%;">
                        <div class="float-left margin_right_5">
                            <button type="button" class="btn btn-outline-primary" ng-disabled="!verificationCode" data-ng-click="validateCode()">
                                <span translate="RETURNSUBSCRIPTION_VALIDATE_SPAN" translate-default="Validate Code"></span>
                            </button>
                        </div>
                        <div class="float-left margin_right_5">
                            <button type="button" class="btn btn-outline-primary" data-ng-click="resendCode()">
                                <span translate="RETURNSUBSCRIPTION_VALIDATE_SPAN" translate-default="Didn't receive a code"></span>
                            </button>
                        </div>
                        <div class="col-lg-12 col-sm-24 col-xs-24 note_text_wrapper margin_top_10">
                            <span class="float-left" translate="TELEPHONE_VERIFICATION_DIALOG_DESCRIPTION2" translate-default="Note: The code will expire in 5 minutes."></span>
                        </div>
                    </div>
                </div>
                <button type="button" ng-show="!isCodeSend" class="btn btn-outline-primary margin_top_15" data-ng-click="sendTelephoneNumberToVerifyCode()"><span
                        translate="RETURNSUBSCRIPTION_OK_SPAN" translate-default="Send Verification Code"></span></button>
            </div>
        </ng-form>
    </div>
    <div class="modal-footer">
        <div class="float-left mr-auto">
            <div class="padding_top_5"> <span translate="EMAIL_VERIFICATION_DIALOG_MESSAGE" translate-default="This process is required for e-filing."></span></div>
        </div>
        <button type="button" class="btn btn-outline-primary" data-ng-click="close()"><span translate="RETURNSUBSCRIPTION_LATER_SPAN"
                translate-default="Do it Later"></span></button>
    </div>
</div>