<style>
    .color_red {color: red}
    .efin_letter {color: #736c6c;text-decoration: underline;cursor: pointer;}
    .modal-md {
        width: 950px;
    }
    @media(max-width:768px)
     {
         .modal-md { width: 90vw; }
         .verificationqanda-container { min-height:auto; padding:30px 0px; }
     }
</style>
<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;" class="verificationqanda">
        <div class="modal-header dialog-header-confirm quicksetup-modal">
            <div class="modal-title">
                <label class="font_black"><img src="taxAppJs/images/danger.png" align="middle" class="modal-header-icon">Verification Failed</label>
            </div>
        </div>
        <div class="modal-body clearfix">
            <div class="clearfix col-lg-24 col-sm-24 col-md-24 col-xs-24 margin_top_15 padding_l_r_0" >
                <div class="verificationqanda-container">
                    <div class="verificationqanda-inner">
                        <div class="content-title">
                                <img src="taxAppJs/images/frown-face.png" class="modal-image"> Sorry!
                        </div>
                        <div class="text-center">
                            <span class="font_black margin_top_10">We could not verify your identity.</span>
                            <div class="margin_top_5">
                                <p class="color_red font-size-16 float-none" translate="SETUP_VERIFY_INFO_LBL" translate-default="Please upload your"></p>
                                <p class="efin_letter font-size-16 float-none" translate="SETUP_VERIFY_EFIN_LBL" translate-default="EFIN Summary" data-ng-click="close(true)"></p>
                                <p class="color_red font-size-16 float-none" translate="SETUP_VERIFY_IDENTITY_LBL" translate-default="to complete your identity verification"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <!-- Temporary -->
            <button type="button" class="btn custom-btn" data-ng-click="dismiss()"><span  translate="CANCEL_BUTTON" translate-default="Close"></span></button>
        </div>
    </div>
    