<div class="row mt-3">
    <div class="col">
        <h5 class="mb-3 border-bottom pb-3 text-dark">Important!</h5>
    </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-unstyle">
      <li><p>Before you start the client file data conversion process.</p></li>
      <li><p>Open your current tax preparation software.</p></li>
      <li><p>Remove all passwords from your client files.</p></li>
      <li><p>Select Next and follow the backup Instructions to start the client
        conversion submission process.</p></li>
    </ul>
  </div> 
</div>
<div class="row mt-3">
    <div class="col-24">
      <blockquote class="blockquote bg-light">
          <h5 class="mb-2 text-dark">Note</h5>
          <p class="mb-0">Please be aware that due to differences between tax software(s), not all the data from your original return(s)
              was converted. Some methods of Depreciation may not be able to be converted. If any amounts are overridden, please
              review and verify for accuracy.</p>
      </blockquote>
    </div>
</div>

