:host ::ng-deep .ag-standard-grid-container-wrapper{
    width: 100%; 
    height: 100% !important;
    min-height: calc(100vh - 175px);
    border: 1px solid #dee2e6 !important;
    }

.middle-wrap{
    overflow-y: hidden !important;
}    

.no-data {
    position: absolute;
    top: 55%;
    height: 100%;
}    
