<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>

    <!-- Header -->

    <div class="inner_col_second clearfix"
        data-ng-class="{'inner_strech_right':headerNav.collapseRightPane==true,'inner_strech_right_animation':headerNav.applyRightAnimation==true,'inner_strech_right_remove':headerNav.collapseRightPane==false}">
        <section class="page_title_wrap title_height_40 clearfix">
            <span class="page_title_lg ng-binding" translate="MANAGEPREAPARERLIST_HEADER"
                translate-default="Manage Preparer"></span>
        </section>
        <div class="inner_padding_15 clearfix allowScrollSync" ng-style="{height:headerNav.screenHeight-106}"
            style="overflow-y:auto;">
            <div ng-cloak>
                <div class="row">

                    <div class="col-lg-4 col-md-4 col-sm-6  height_31">
                        <!-- This will filter $data in ng-repeat instead of in Grid. -->
                        <div class="input-group">
                            <input type="text" class="form-control cus-forminput" placeholder="Filter by Any Value"
                                ng-model="searchField" value="{{searchField}}" />
                            <div class="input-group-append" data-ng-if="searchField.length">
                                <span class="input-group-text cursor_pointer" data-ng-click="clearSearch()"> <i
                                        class="fa fa-times"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-10 col-sm-10 col-xs-margin_top_10">
                            <button class="btn btn-outline-primary" translate="MANAGE_NEW_BTN" translate-default="New"
                                data-ng-click="createNewPreparer()" data-ng-disabled="!userCan('CAN_CREATE_PREPARER')"></button>
                            <button class="btn btn-outline-primary" translate="MANAGE_DELETE_BTN" translate-default="Delete"
                                data-ng-click="removePreparer()" data-ng-disabled="!userCan('CAN_REMOVE_PREPARER')"></button>
            
                        </div>
                </div>

            </div>
            <div class="clearfix custom-table table-responsive padding_l_r_0 margin_top_15">
                <table ng-table="availablePreparerList" class="table">
                    <tr data-ng-repeat="Preparer in $data">
                        <td data-title="'Preparer ID'" sortable="'preparer.preparerId'" header-class="'custom-header'">
                            <div class="float-left">
                                <button class="custom_input_dark float-left margin_right_5"
                                    data-ng-model="Preparer.preparer.isSelected"
                                    data-ng-class="{'active':Preparer.preparer.isSelected}"
                                    data-ng-click="Preparer.preparer.isSelected =! Preparer.preparer.isSelected"></button>
                                <!-- <input type="checkbox" data-ng-model="Preparer.preparer.isSelected" class="float-left" /> -->
                                <a data-ng-click="editPreparer(Preparer.preparer.preparerId);"
                                    data-ng-class="{'no-clicking disabled':!userCan('CAN_OPEN_PREPARER')}"
                                    class="margin_left_3">{{Preparer.preparer.preparerId}}</a>
                            </div>
                            <div class="float-left"></div>
                        </td>
                        <td data-title="'Name'" sortable="'preparer.preparerName'" header-class="'custom-header'">
                            {{Preparer.preparer.preparerName}}</td>
                        <td data-title="'PTIN'" sortable="'preparer.preparerTin'" header-class="'custom-header'">
                            {{Preparer.preparer.preparerTin}}</td>
                        <td data-title="'STIN'" sortable="'preparer.preparerStin'" header-class="'custom-header'">
                            {{Preparer.preparer.preparerStin}}</td>
                        <td data-title="'SSN'" sortable="'preparer.preparerSsn'" header-class="'custom-header'">
                            {{Preparer.preparer.preparerSsn}}</td>
                        <td data-title="'Email Address'" sortable="'preparer.email'" header-class="'custom-header'">
                            {{Preparer.preparer.email}}</td>
                        <td data-title="'Actions'" header-class="'custom-header'">
                            <!-- <div class="dropdown" dropdown="">
                                    <button class="btn btn-outline-primary dropdown-toggle" dropdown-toggle="" type="button" id="typeFilter" data-toggle="dropdown">
                                    <i class="fas fa-cog padding_right_5"></i> <span class="caret font_size_12"></span>
                                    </button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="typeFilter">
                                        <li class="dropdown-item"><a  data-ng-click="removePreparer(Preparer.preparer.preparerId);" data-ng-class="{'no-clicking disabled':!userCan('CAN_REMOVE_PREPARER')}"><span
                                                    translate="MANAGE_DELETE_LBL" translate-default="Delete"></span></a>
                                        </li>
                                        <li class="dropdown-item"><a  data-ng-click="markAsDefault(Preparer.preparer.preparerId,'preparer');"><span
                                                    translate="PREPARER_MARKDEFAULT_LBL" translate-default="Mark As Default"></span></a>
                                        </li>
                                    </ul>
                                </div> -->
                            <div class="dropdown">
                                <button type="button" class="btn btn-outline-primary dropdown-toggle" id="typeFilter"
                                    data-toggle="dropdown">
                                    <i class="fas fa-cog"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"
                                        data-ng-click="removePreparer(Preparer.preparer.preparerId);"
                                        data-ng-class="{'no-clicking disabled':!userCan('CAN_REMOVE_PREPARER')}"
                                        translate="MANAGE_DELETE_LBL" translate-default="Delete"></a>
                                    <a class="dropdown-item"
                                        data-ng-click="markAsDefault(Preparer.preparer.preparerId,'preparer');"
                                        translate="PREPARER_MARKDEFAULT_LBL" translate-default="Mark As Default"></a>

                                </div>
                            </div>
                        </td>

                    </tr>
                </table>
            </div>
        </div>
    </div>
    </div>
    <!-- <div data-ng-include="'taxAppJs/common/rightSidebar/partials/rightSidebar.html'"></div> -->
</body>

</html>