<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
  <div class="modal-header dialog-header-confirm">
    <h4 class="modal-title">Change Password</h4>
  </div>
  <div class="modal-body clearfix">
    <div class="form-group row">
      <label for="newPassword" class="col-sm-12 col-form-label">New Password</label>
      <div class="col-sm-12">
        <input type="password" class="form-control"
          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&.,():_-])[A-Za-z\d$@#$!%*?&.,():_-]{8,}"
          (input)="checkPasswordStrength(password.newPassword)" id="newPassword" [(ngModel)]="password.newPassword"
          [required]="!password.newPassword" triggers="blur" placement="bottom"
          ngbPopover="{{(passwordStrength.type !== 'strong') ? 'The password must be at least eight characters long and it must include one uppercase and one lowercase letter (A-Z, a-z), one numeric character (0-9), and one special character from the following list: (&!%*.,$:@#-_?). ' : ''}}">
        <div *ngIf="passwordStrength.score > 0" style="padding-top: 5px;" >
          <ngb-progressbar *ngIf="passwordStrength.type === 'strong'" type="success" height="10px" [value]="passwordStrength.score">
          </ngb-progressbar>
          <ngb-progressbar *ngIf="passwordStrength.type === 'ok'" type="warning" height="10px" [value]="passwordStrength.score">
          </ngb-progressbar>
          <ngb-progressbar *ngIf="passwordStrength.type === 'weak'" type="danger" height="10px" [value]="passwordStrength.score">
          </ngb-progressbar>
        </div>
      </div>

    </div>
    <div class="form-group row">
      <label for="confirmPassword" class="col-sm-12 col-form-label">Confirm Password</label>
      <div class="col-sm-12">
        <input type="password" class="form-control" id="confirmPassword" [(ngModel)]="password.confirmPassword"
          [required]="!password.confirmPassword" (ngModelChange)="MustMatch(password.newPassword,password.confirmPassword)"
          (focus)="MustMatch(password.newPassword,password.confirmPassword)" triggers="blur" placement="bottom"
          ngbPopover="{{(mustmatch === false) ? 'Password does not match' : ''}}" autocomplete="off">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary"   (click)="changePassword()"
      [disabled]="!mustmatch">Change</button>
    <button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
  </div>
</div>