<div class="modal-header">
    <h5 class="modal-title">Mail Preview</h5>
    <button type="button" class="close" (click)="close()">×</button>
</div>

<!-- <div class="modal-header dialog-header-confirm">
        <span class="modal-title" style="font-size: 18px;">
            
        </span>
        <button type="button" class="close" (click)="close()">×</button>
    </div> -->
<div class="modal-body clearfix p-0">
    <div class="clearfix col-lg-24 padding_top_20 padding_bottom_20 padding_left_20 padding_right_20"
        style="background-color: #aaaaaa;">
        <div class="white_bg floating padding_top_20 padding_bottom_20">
            <div class="col-lg-24 col-sm-24 align-center margin_top_5 margin_bottom_10"
                *ngIf="data.settings.companyLogo">
                <img class="logo_image" [src]="data.settings.companyLogo">
            </div>
            <div class="col-lg-24 col-sm-24 align-center margin_top_5 margin_bottom_10 blue_font">
                {{data.settings.companyName ? data.settings.companyName : '&lt;Tax
                    Preparer Company Name&gt;'}}
            </div>
            <div class="col-lg-24 col-sm-24 margin_bottom_10">
                Hello {{data.clientDetails.firstName + ' ' +
                    data.clientDetails.lastName}},
                <br>
                <br>
                <p [innerHTML]="data.settings.invEmailBody"></p>
                <br>
                <br>
                Thank you,
                <br>
                <br>
                {{data.settings.companyName ? data.settings.companyName : '&lt;Tax
                    Preparer Company Name&gt;'}}
            </div>
            <div class="col-lg-24 col-sm-24 align-center margin_bottom_25">
                <button class="blue_big_btn">ACCEPT INVITATION</button>
            </div>
            <div class="col-lg-24 col-sm-24 gray_font margin_bottom_10">
                If the button does not work as an alternative you can copy and paste the link below into your
                browser.
            </div>
            <div class="col-lg-24 col-sm-24 link_font margin_bottom_10">
                <a target="_blank">
                    MyTAXPortal Link for Setup Account will be generated
                </a>
            </div>
            <div class="col-lg-24 col-sm-24 gray_font margin_bottom_10">
                In the event you did not register with {{data.settings.companyName ?
                    data.settings.companyName : '&lt;Tax Preparer Company Name&gt;'}}, please delete
                this message and no
                further action is required on your part. We will remove the temporary account on your behalf.
            </div>
        </div>
        <div class="blue_bg floating padding_top_20 padding_bottom_20 align-center white_font">
            MyTAXPrepOffice, creators of MyTAXPortal, respects your privacy. <a class="link_anchor"
                target="_blank">Privacy
                Statement</a>. <br>
            If you receive a suspicious email, please <a class="link_anchor" target="_blank">report it</a>.<br>
            Copyright © 2018 MyTAXPrepOffice. All rights reserved.
        </div>
        <div class="col-lg-24 col-sm-24 padding_bottom_20" style="background-color: #0f76a5;"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="close()">Close</button>
</div>