<div class="inner_col_second clearfix ng-scope inner_strech_right_remove height_auto border">
  <div class="col-lg-24 col-md-24 col-sm-24 padding_l_r_0">
    <section class="page_title_wrap title_height_40 clearfix">
      <span class="page_title_lg ng-binding title_height_40">
        <span class="page_title_lg ng-binding ng-scope">Coming Soon</span>
        <div class="row float-right mt-2 mr-1">
          <button class="btn btn-outline-primary pl-2 mr-3" (click)="backToHomeScreen()">Back To Dashboard</button>

        </div>
      </span>
    </section>
  </div>

  <div class="form-group input-group-lg row_height_30">
    <div class="p-3 clearfix h5">
      This feature is coming soon for 2019.
    </div>
  </div>
</div>