<!-- Temprary Patch to avoid FOUC , Better alternative is to use loading bar -->
<style type="text/css">
    .calcBlankContent{
        display: none !important;
    }
}
</style>
<div class="clearfix calcBlankContent">
<label class="font_size_20 margin_left_10 margin_top_5">Calculator</label>
        <button type="button" class="calc_close float-right margin_right_10 margin_top_5" data-ng-click="close()"><i class="fa fa-times" aria-hidden="true" data-ng-click="close()"></i></button>
	<calculator-widget></calculator-widget>
</div>


