<div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title"><span><i class="fa fa-check-square"></i></span><span class="margin_left_5" translate="CONFIRMATION" translate-default="Confirmation"></span>
        </h4>
    </div>
    <div class="modal-body clearfix" style="max-height:70vh;overflow:auto">
         <div data-ng-if="printingType!='sendReturnToSupport'" class="float-left margin_top_10"> <span translate="PRINTLOCKEDRETURN_MSG" translate-default="The return is locked, changes can’t be saved or printed. If you need to update and print the return, please Unlock it and try again."></span></div>

         <div class="float-left margin_top_10" data-ng-if="printingType=='sendReturnToSupport'"> <span translate="PRINTLOCKEDRETURN_MSG" translate-default="Your return is locked for saving. Changes made can't be send to support  without saving. To send return to support with changes press No ,unlock return and send return to support again."></span></div>

       </div>    
    <div class="modal-footer">
      <div class="float-left" data-ng-if="printingType!='sendReturnToSupport'"><span translate="DOYOUWANTTOCONTINUE_MSG" translate-default="Do you want to print without changes ?"></span></div>
      <div class="float-left" data-ng-if="printingType=='sendReturnToSupport'"><span translate="DOYOUWANTTOCONTINUE_MSG" translate-default="Do you want to send return to support without changes ?"></span></div>
    <div class="float-right">
        <button type="button" class="btn btn-outline-primary" data-ng-click="close('yes')" tax-focus-me="focusMe"><span translate="CONFIRMATION_DIALOG_YES_BTN" translate-default="Yes"></span></button>
        <button type="button" class="btn btn-outline-primary" data-ng-click="close('no')"><span translate="CONFIRMATION_DIALOG_NO_BTN" translate-default="No"></span></button>
        </div>
    </div>
    </div>
</div