 <div style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <div class="modal-header dialog-header-confirm">
      <h4 class="modal-title">
        <span >{{content.title}}</span>
      </h4>
    </div>
    <div class="modal-body clearfix">
      <form name="nameDialog">
      <div class="form-group input-group-lg row_height_30">
        <div>				
          <span >{{content.message}}</span>
         </div>		
      </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="registerNow()"><span >Register Now</span></button>
      <button type="button" class="btn btn-outline-primary" (click)="close()"><span >Continue Demo Account</span></button>		
    </div>
    </div> 
    