<!DOCTYPE html>
<html>

<head>
    <link href="taxAppJs/bank/eps/css/eps.css" rel="stylesheet" />
    
    <link href="taxAppJs/bank/atlas/css/atlas.css" rel="stylesheet" />
    <link href="taxAppJs/common/css/Styles.css" rel="stylesheet" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<body>
     
    <div data-ng-if="taxYear<='2015'" data-ng-include="'taxAppJs/bank/atlas/partials/info-2015.html'"></div>
    <div data-ng-if="taxYear=='2016'" data-ng-include="'taxAppJs/bank/atlas/partials/info-2016.html'"></div>
    <div data-ng-if="taxYear=='2017'" data-ng-include="'taxAppJs/bank/atlas/partials/info-2017.html'"></div>
    <div data-ng-if="taxYear=='2018'" data-ng-include="'taxAppJs/bank/atlas/partials/info-2018.html'"></div>
    <!-- <div data-ng-if="betaOnly() == false && taxYear=='2018'">
        <div class="inner_col_second clearfix" data-ng-class="{'inner_strech_right':headerNav.collapseRightPane==true,'inner_strech_right_animation':headerNav.applyRightAnimation==true,'inner_strech_right_remove':headerNav.collapseRightPane==false}">
            <section class="page_title_wrap title_height_40 clearfix">
                <span class="page_title_lg ng-binding title_height_40">
                    <span class="page_title_lg ng-binding" translate="NAVIGATORBANK_ADD_HEADER" translate-default="Navigator"></span>
                </span>
            </section>
            <div class="text-danger inner_padding_15  clearfix static_form_wrap allowScrollSync"    ng-style="{height:headerNav.screenHeight-106}"
                style="overflow-y:auto;">
                <div class="padding_l_r_0">
                    <span>Navigator enrollment for tax year 2018 is under maintenance. Please check back later.</span>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div data-ng-include="'taxAppJs/common/rightSidebar/partials/rightSidebar.html'"></div> -->
</body>

</html>