<!DOCTYPE html>
<html>
<head>

</head>
<body>
	 
	<div class="inner_col_second clearfix"
		data-ng-class="{'inner_strech_right':headerNav.collapseRightPane==true,'inner_strech_right_animation':headerNav.applyRightAnimation==true,'inner_strech_right_remove':headerNav.collapseRightPane==false}">
		<section class="page_title_wrap title_height_40 clearfix">
			<span class="page_title_lg ng-binding title_height_40"> <span
				class="page_title_lg ng-binding"
				translate="REDBIRDBANK_ADD_HEADER"
				translate-default="REDBIRD"></span>
			</span>
		</section>
		<div class="clearfix"   >
			<div class="col-lg-24 col-md-24 col-sm-24">
                <div class="clearfix padding_left_5 padding_top_10">
                		<span class="float-left margin_right_5"
                              translate="REDBIRDBANK_ENROLLMENT_SPAN"
                              translate-default="To participate in the REDBIRD tax refund settlement program, please complete the enrollment application by visiting their website ">
                        </span>
                        <a class="cursor_pointer col-xs-margin_top_10"
                           href="https://aitfinancialgroup.com/home-page/registration/"
                           target="_blank">www.aitfinancialgroup.com</a>
                    
                </div>
            </div>
		</div>
	</div>
	<!-- <div data-ng-include="'taxAppJs/common/rightSidebar/partials/rightSidebar.html'"></div> -->
</body>
</html>