.card-header{ padding: 0px !important; font-size: 0.875rem; border: none !important;}
.card{ border: none !important; margin-bottom: 5px !important; }
.overflow-lbl { width: calc(90%); white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.btn-link{max-width: 100%;}
.btn-link:hover{text-decoration: none;}
.btn-link:focus, .btn-link.focus{text-decoration: none;}
.text-overflow1{width: 325px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}