<meta name="viewport" content="initial-scale=1, maximum-scale=1">	

    <!-- Header -->
 
    <div class="inner_col_second clearfix" data-ng-class="{'inner_strech_right':headerNav.collapseRightPane==true,'inner_strech_right_animation':headerNav.applyRightAnimation==true,'inner_strech_right_remove':headerNav.collapseRightPane==false}">
    <section class="clearfix">
            <span class="page_title_lg ng-binding"></span>
    </section>
    <div class="allowScrollSync"    style="overflow-y:auto;">
	      <div class="please_wait_wrapper">Please Wait ...</div>
	</div>
	</div>
	
<!-- <div data-ng-include="'taxAppJs/common/rightSidebar/partials/rightSidebar.html'"></div> -->

