.custom-ngSelect .ng-select {
    width: 100%;
}
.input-group-append > .btn-outline-primary{
    color: #fff !important;
    background-color: #005074 !important;
    border-color: #005074 !important;
}