<!-- ProSeries -->
<div class="row" *ngIf="selectedSoftware.value=='ProSeries2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i>The default path for your 2018 Client Files is
          "C:\ProWin18\18data\"</p>
      </li>
    </ul>
  </div>
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <p>Maximum file size: 3 GB</p>
      <!-- <p>We recommend for you to create one zip file of your backup folder instead of zipping one return at a time.</p> -->
      <p>Do you have a file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the Training Articles, or contact our Support Department.</p>
      <p>
        Do you have a large number of returns to be converted? Try preparing backups in batches and upload each batch
        separately.
      </p>
    </blockquote>
  </div>
</div>

<!-- ATX -->
<div class="row" *ngIf="selectedSoftware.value=='ATX2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Create a folder to take backup into.</p>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Open ATX and click on Backup.</p>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> In the backup window change the location to backup
          to.</p>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> All returns will then show in the Backup window
          depending on how
          many pages-have to click all at the top of each page and then backup.</p>
          <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Please do not redirect or do not select files from auto backup location path. 
            You can find that auto backup path from: Options > Prefrences > Backup and Files > Backup Location.</p>
      </li>
    </ul>
  </div>
  <!-- <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> When completed zip the backup folder.</p> -->
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <p>Maximum file size: 3 GB</p>
      <!-- <p>We recommend for you to create one zip file of your backup folder instead of zipping one return at a time.</p> -->
      <p>Do you have a file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the Training Articles, or contact our Support Department.</p>
      <p> Do you have a large number of returns to be converted? Try preparing backups in batches and upload each batch
        separately. </p>
    </blockquote>
  </div>
</div>

<!-- TaxWise -->
<div class="row my-4" *ngIf="selectedSoftware.value=='TaxWise2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i>The default path for your 2018 Client Files is "C:
          \UTS18\Users\&lt;USERNAME&gt;".
          However, if TaxWise is installed on a network drive or a different local drive instead of the local C drive,
          that
          drive letter will show as the default. Ex. If TaxWise is on network drive F, the default path will be
          "F:\UTS18\Users\&lt;USERNAME&gt;"</p>
      </li>
    </ul>
  </div>
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <p>Maximum file size: 3 GB</p>
      <!-- <p>We recommend for you to create one  file of your backup folder instead of zipping one return at a time.
      </p> -->
      <p>Do you have a file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the
        Training Articles, or contact our Support Department.</p>
      <p> Do you have a large number of returns to be converted? Try preparing backups in batches and upload each batch
        separately. </p>
    </blockquote>
  </div>
</div>

<!-- Drake -->
<div class="row" *ngIf="selectedSoftware.value=='Drake2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i>The default path for your 2018 client files is
          "C:\DRAKE18\DT".</p>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Select or drag and drop "DT" folder.</p>
      </li>
    </ul>
  </div>
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <p>Do you have a file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the
        Training Articles, or contact our Support Department.</p>
      <p> Do you have a large number of returns to be converted? Try preparing backups in batches and upload each batch
        separately.</p>
    </blockquote>
  </div>
</div>

<!-- TaxAct -->
<div class="row" *ngIf="selectedSoftware.value=='TaxACT2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Go to File -> Backup -> Client Return(s).</p>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Select LOCAL for saving backup.</p>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Select Clients for conversion.</p>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Select your backup path.</p>
      </li>
    </ul>
  </div>
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <!-- <p>We recommend for you to create one zip file of your backup folder instead of zipping one return at a time.</p> -->
      <p>Do you have a file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the
        Training Articles, or contact our Support Department.</p>
      <p> Do you have a large number of returns to be converted? Try preparing backups in batches and upload each batch
        separately. </p>
      <p>We do not support TaxACT Online conversion.</p>
    </blockquote>
  </div>
</div>


<!-- CrossLink -->
<div class="row" *ngIf="selectedSoftware.value=='Crosslink2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i> Tack full backup of returns. (To enable backup go
          to Setup >
          Office Setup > General > Backup and check on Enable Backup.)</p>
      </li>
    </ul>
  </div>

  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <!-- <p>We recommend for you to create one zip file of your backup folder instead of zipping one return at a time.</p> -->
      <p>Maximum file size: 3 GB</p>
      <p>Do you have a file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the
        Training Articles, or contact our Support Department.</p>
      <p> Do you have a large number of returns to be converted? Try preparing backups in batches and upload each batch
        separately. </p>
      <!-- <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i><b>We do not support TaxACT Online conversion.</b></p> -->
    </blockquote>
  </div>
</div>

<!-- TurboTax -->
<div class="row" *ngIf="selectedSoftware.value=='TurboTax2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i>Select client files with extension ".tax2018".</p>
      </li>
    </ul>
  </div>
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <!-- <p>We recommend for you to create one zip file of your backup folder instead of zipping one return at a time.</p> -->
      <p>Maximum file size: 3 GB</p>
      <p><span>Do you have a file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
          Need assistance? Please review the
          Training Articles, or contact our Support Department.</span></p>
      <p><span> Do you have a large number of returns to be converted? Try preparing backups in batches and upload each
          batch
          separately. </span></p>
    </blockquote>
  </div>
</div>


<!-- OLTPRO -->
<div class="row" *ngIf="selectedSoftware.value=='OLTPRO2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-long-arrow-alt-right mr-2 color_gray"></i>The default path for your 2018 Client Files is
          "C:\Online-Taxes\OLTPRODesktop2018\data". However, if OLTPRO
          is installed on a network drive or a different local drive instead of the local C drive, that drive letter
          will show as the default. Ex. If OLTPRO is on network drive F, the default path will be
          "F:\Online-Taxes\OLTPRODesktop2018\data".</p>
      </li>
    </ul>
  </div>
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <!-- <p>Maximum Zip file size: 3 GB</p> -->
      <!-- <p>We recommend for you to create one zip file of your backup folder instead of zipping one return at a time.
      </p> -->
      <p>Do you have a file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the
        Training Articles, or contact our Support Department.</p>
      <p class="mb-0"> Do you have a large number of returns to be converted? Try preparing backups in batches and
        upload each batch
        separately. </p>
    </blockquote>
  </div>
</div>

<!-- UltraTax -->
<div class="row" *ngIf="selectedSoftware.value=='ULTRATAX2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-arrow-right color_gray"></i> Go to Files > Backup.</p>
      </li>
      <li>
        <p><i class="fa fa-arrow-right color_gray"></i> Select Packages and select Clients.</p>
      </li>
      <li>
        <p><i class="fa fa-arrow-right color_gray"></i> Select the backup location.</p>
      </li>
      <li>
        <p><i class="fa fa-arrow-right color_gray"></i> Uncheck the Encrypt client backup box.</p>
      </li>
      <li>
        <p><i class="fa fa-arrow-right color_gray"></i> Click the Backup button.</p>
      </li>
      <li>
        <p><i class="fa fa-arrow-right color_gray"></i>The default path for your 2018 client files is
          "UT18DATA".</p>
      </li>
    </ul>
  </div>
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <p>Maximum Zip file size: 3 GB</p>
      <p>We recommend for you to create one zip file of your backup folder instead of zipping one return at a time.
      </p>
      <p>Do you have a Zip file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the
        Training Articles, or contact our Support Department.</p>
      <p>Do you have large no.of returns to be converted? Try preparing backups in batches and upload each batch
        separately </p>
    </blockquote>
  </div>
</div>

<div class="row" *ngIf="selectedSoftware.value=='PROSYSTEMFX2018'">
  <div class="col-24">
    <p class="font-weight-bold">Please follow the instructions below:</p>
    <ul class="list-unstyled pl-2">
      <li>
        <p><i class="fa fa-arrow-right color_gray"></i> The default path for your 2018 Client Files is
          "C:\wfx32\client\".
          However, if CCH ProSystemfx is installed on a network drive or a different local drive instead of the local C
          drive,
          that drive letter will show as the default. Ex. If CCH ProSystemfx is on network drive F, the default path
          will be
          "F:\wfx32\client\"</p>
      </li>
    </ul>
  </div>
  <div class="col-24">
    <blockquote class="blockquote bg-light rounded">
      <h5 class="mb-2 text-dark">Note</h5>
      <p>Maximum Zip file size: 3 GB</p>
      <p>We recommend for you to create one zip file of your backup folder instead of zipping one return at a time.
      </p>
      <p>Do you have a Zip file bigger than 3 GB? Try preparing backups in batches, and upload each batch separately.
        Need assistance? Please review the
        Training Articles, or contact our Support Department.</p>
      <p>Do you have large no.of returns to be converted? Try preparing backups in batches and upload each batch
        separately </p>
    </blockquote>
  </div>
</div>