 <div class="padding_10">
    <h4>Important!</h4>
    <div>
       <p>Before you start the client file data conversion process.</p>
            <p><i class="fa fa-arrow-right color_gray"></i> Open your current tax preparation software.</p>
            <p><i class="fa fa-arrow-right color_gray"></i> Remove all passwords from your client files.</p>
            <p><i class="fa fa-arrow-right color_gray"></i> Select Next and follow the backup Instructions to start the client conversion submission process.</p>

    </div>
    <br>
    <h4>Note</h4>
    <div>
        <!-- <p>The Data Conversion process will copy selected items from your current tax preparation software to your new {{appName}} and is not intended to convert all of your tax data nor will it allow you to generate a tax return for the purposes of side by side comparison with last year's return.</p> -->
        <p>Please be aware that due to differences between tax software(s), not all the data from your original return(s) was converted. Some methods of Depreciation may not be able to be converted. If any amounts are overridden, please review and verify for accuracy.</p>

    </div>
</div>
        <!-- <div class="row">
            <hr class="light_line">
            <div class="float-right">
                <button class="btn btn-outline-primary"  data-ng-click="changeView('third','back')"><span translate="CONVERSION_BACK" translate-default="Back"></span></button>
                    <button class="btn btn-outline-primary"  data-ng-click="changeView('third','next')"><span translate="CONVERSION_NEXT" translate-default="Next"></span></button>
            </div>
        </div> -->
    