<div class="row">
  <div class="col-sm mb-3 mb-sm-0 mb-lg-0 mb-xl-0">
    <p class="c-title">Firm</p>
    <ul class="list-unstyled m-0">
      <li class="mb-1" *ngIf="ownerDetail.firmName">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-building text-primary"></i>
          </div>
          <div class="col-auto">
            {{ownerDetail.firmName}}
          </div>
        </div>
      </li>
      <li class="mb-1" *ngIf="ownerDetail.address && ownerDetail.address.street">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-map-marker-alt text-primary"></i>
          </div>
          <div class="col-auto">
            {{ownerDetail.address.street}}
          </div>
        </div>
      </li>
      <li class="mb-1">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-auto">
            <span *ngIf="ownerDetail.address && ownerDetail.address.city">{{ownerDetail.address.city}}</span>
            <span *ngIf="ownerDetail.address && ownerDetail.address.state">, {{ownerDetail.address.state}}</span>
            <span *ngIf="ownerDetail.address && ownerDetail.address.zipCode">, {{ownerDetail.address.zipCode}}</span>
          </div>
        </div>
      </li>
      <li class="mb-1" *ngIf="ownerDetail.phoneNo">
        <div class="row">
          <div class="col-2">
            <i class="fa fa-phone-alt text-primary"></i>
          </div>
          <div class="col-auto">
            {{ownerDetail.phoneNo | mask : '(000) 000-0000'}}
          </div>
        </div>
      </li>
      <!-- <li class="mb-1" *ngIf="ownerDetail.efin">{{ownerDetail.efin}}</li> -->
    </ul>
  </div>
  <div class="col-sm">
    <p class="c-title">Subscription Plan</p>
    <ul class="list-unstyled m-0">
      <li class="mb-1" *ngIf="licenseDetail.latestLicenseDetail">{{licenseDetail.currentTaxYear}} MyTAXPrepOffice</li>
      <li class="mb-1" *ngIf="licenseDetail.latestLicenseDetail && licenseDetail.latestLicenseDetail.licenseName">
        {{licenseDetail.latestLicenseDetail.licenseName | uppercase}}
        <span *ngIf="licenseDetail.latestLicenseDetail.licenseName.toLowerCase() === 'free'">&nbsp;License</span>
      </li>
      <li class="mb-1" *ngIf="licenseDetail.noOfOffices">{{licenseDetail.noOfOffices}} Office Account<span *ngIf="licenseDetail.noOfOffices > 1">s</span></li>
      <li class="mb-1" *ngIf="licenseDetail.noOfUsers">
        <span *ngIf="licenseDetail.noOfUsers < 999">{{licenseDetail.noOfUsers}} User Account<span *ngIf="licenseDetail.noOfUsers > 1">s</span></span>
        <span *ngIf="licenseDetail.noOfUsers >=999">Unlimited User</span>
      </li>
      <li class="mb-1" *ngIf="licenseDetail.storage">
        <span *ngIf="licenseDetail.latestLicenseDetail.licenseName.toLowerCase() === 'unlimited'">Unlimited Storage</span>
        <span *ngIf="licenseDetail.latestLicenseDetail.licenseName.toLowerCase() !== 'unlimited'">{{licenseDetail.storage}}
          Storage
        </span>
      </li>
    </ul>
  </div>
</div>