<div
    style="font-family:Helvetica Neue,Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #333333;">
    <div class="modal-header dialog-header-confirm">
        <h4 class="modal-title">
            <span>Tutorial</span>
        </h4>
    </div>
    <div class="modal-body clearfix">
        <div class="form-group row_height_30">
            <div class="ng-binding">Learn how to use MyTAXPrepOffice using this tutorial.</div>
            <div>The more you know, the better you do.</div>
            <div class="margin_top_10">1. Get familiar with the dashboard layout and how to accomplish everyday tasks.
            </div>
            <div>2. Learn how to prepare a tax return and make changes after you create it.</div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="close()">Continue</button>
    </div>
</div>