<div class="row mt-3">
    <div class="col">
        <h5 class="mb-3 border-bottom pb-3 text-dark">Welcome</h5>
    </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-unstyle my-3">
      <li>
        <p>
          Our <b>Conversion Wizard</b> tool allows you to convert your existing returns, client information, schedules and
          forms
          into MyTAXPrepOffice quickly and easily.
        </p>
      </li>
      <li>
          <p>
            To <b>Navigate</b> the <b>Conversion Wizard</b> simply click on the Next button, or the Previous button to
            return to the previous screen.
          </p>
      </li>
      <li>
          <p class="text-primary font-weight-bold">Important Conversion Information</p>
          <ol>
            <li>
              <p>You will need to locate your software file(s).</p>
              <ol type="i">
                <li><p>The Conversion Wizard will provide you the default data path</p></li>
              </ol>
            </li>
            <li>
              <p>Upload your file(s), and wait for your conversion request to be processed.</p>
              <ol type="i">
                <li><p>You will be able to upload one or more files</p></li>
                <li><p>If you upload more than one file, you will have the option to Pause and Resume the Upload Process.</p></li>
              </ol>
            </li>
            <li>
              <p>After your returns are converted, you will need to verify all returns to ensure accurate calculations.</p>
              <ol type="i">
                <li><p>Due to differences between various tax programs, not all data from the original returns will be
                    converted.</p></li>
                <li><p>The conversion process does not recreate the original 2018 return. Click here to review Conversion
                    information.</p></li>
                <li><p>Various tax programs utilize many different combinations of depreciation methods. Some methods of
                    depreciation listed in the prior software may not be able to be converted. We recommend that you verify
                    the asset depreciation closely for accuracy.</p></li>
              </ol>
            </li>
          </ol>
      </li>
      <li><p class="text-primary font-weight-bold">Need help with your conversion?</p></li>
      <li>
        <p>
          If you have any questions or need help with your conversion, please contact our Customer Support Team using the
          live chat feature within your software or email us support@mytaxprepoffice.com.
        </p>
      </li>      
    </ul>   
  </div>
</div>