<!-- <!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">	
    <style>
        .newusertextbox {
            max-width: 170px;
        }
        .priviledges{min-width:150px;float:left;width:auto;margin-right: 5px;}
        .custom_input_dark.active:after {content: "\2713"; position: absolute !important; left: 1px; top: -7px !important; font-size: 26px;color: #555555;}
		.custom_input_dark.active:hover:after {content: "\2713" !important; position: absolute !important; left: 0px; top: -15px !important; font-size: 26px;color: #555555;}
		.custom_input_dark.active:focus:after {content: "\2713" !important; position: absolute !important; left: 0px; top: -15px !important; font-size: 26px;color: #555555;}
    </style>
    <link href="taxAppJs/common/css/Styles.css" rel="stylesheet" />
</head>
<body>

     
    <div class="inner_col_second clearfix" data-ng-class="{'inner_strech_right':headerNav.collapseRightPane==true,'inner_strech_right_animation':headerNav.applyRightAnimation==true,'inner_strech_right_remove':headerNav.collapseRightPane==false}">
        <section class="page_title_wrap title_height_40  clearfix">
            <span class="page_title_lg ng-binding" translate="MANAGEROLESEDIT_ADD_HEADER" translate-default="Add Role" ng-show="mode=='create'"> </span>
            <span class="page_title_lg ng-binding" translate="MANAGEROLESEDIT_EDIT_HEADER" translate-default="Edit Role" ng-show="mode=='update'"> </span>
        </section>
        <div class="inner_padding_15 static_form_wrap clearfix allowScrollSync"    ng-style="{height:headerNav.screenHeight-106}"  style="overflow-y:auto;" >
            <form name="rolesForm">
                <div ng-cloak>
                    <div class="row">
                        <div class="col-lg-8 col-md-6 col-sm-24 text-danger"><label translate="MANAGEROLESEDIT_ERRPREDIFINEMSG_LBL" ng-show="role.isPredefined" translate-default="This is a predefined role. You can not edit or delete this role."></label></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-8"><label translate="MANAGE_NAME_LBL" translate-default="Name"></label></div>
                        <div class="col-lg-5 col-md-6 col-sm-8"><input type="text" name="privilageName" class="form-control" data-ng-model="role.name" ng-required="!role.name" value="{{role.name}}" /></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-8"><label translate="MANAGE_DESC_LBL" translate-default="Description"></label></div>
                        <div class="col-lg-5 col-md-6 col-sm-8 row_height_70"><textarea class="form-control textarea" data-ng-model="role.description" value="{{role.description}}"></textarea></div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-24 col-md-24 col-sm-24 col-xs-24 clearfix"><label translate="MANAGEROLESEDIT_PRIV_LBL" translate-default="privileges"></label></div>
                        <div class="col-lg-14 col-md-12 col-sm-18 clearfix">
                            <div data-ng-repeat="category in categoryList">
                                <div class="row col-lg-24 col-sm-24 col-md-24 col-xs-24 margin_bottom_5 margin_top_5 font_bold clearfix"> {{category}}</div>
                                <div data-ng-repeat="privilage in role.privilageList|filter:category:true" class="priviledges clearfix">
                                    <span class="float-left clearfix">
                                        <label class="padding_right_5 padding_left_10" data-ng-class="{'no-clicking disabled':role.isPredefined}">
                                        	<button type="button" class="custom_input_dark float-left margin_right_5" data-ng-model="privilage.isSelected" data-ng-class="{'active':privilage.isSelected==true}" data-ng-click="privilage.isSelected =! privilage.isSelected" data-ng-disabled="role.isPredefined"></button>                               
                                        </label>
                                    </span> <span class="float-left">{{privilage.displayText}} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-lg-9 col-md-18 col-sm-18">
                        <hr class="light_line">
                        <div class="float-right ml-auto">

                            <button class="btn btn-outline-primary" translate="MANAGE_SAVE_BTN" translate-default="Save" data-ng-click="saveRole()" data-ng-disabled="rolesForm.$invalid || !userCan('CAN_SAVE_ROLE') ||role.isPredefined"></button>
                            <button class="btn btn-outline-primary" translate="MANAGE_CANCEL_BTN" translate-default="Cancel" data-ng-click="cancel()"></button>
                            <button class="btn btn-outline-primary" translate="MANAGE_DELETE_BTN" translate-default="Delete" data-ng-click="removeRoles()" data-ng-disabled="role.isPredefined || mode=='create' || !userCan('CAN_REMOVE_ROLE')"></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
        
</body>
</html> -->