<div class="inner_col_second clearfix"
    data-ng-class="{'inner_strech_right':headerNav.collapseRightPane==true,'inner_strech_right_animation':headerNav.applyRightAnimation==true,'inner_strech_right_remove':headerNav.collapseRightPane==false}">
    <!-- <section class="page_title_wrap title_height_40 clearfix">
        <span class="page_title_lg ng-binding" translate="PRINTPACKETS_LBL" translate-default="Print Packets"></span>
    </section> -->
    <div class="width_full clearfix inner_padding_15 allowScrollSync" ng-style="{height:headerNav.screenHeight-106}"  style="overflow-y:auto;" >
        <print-packets-configuration cancel-url="home"></print-packets-configuration>
    </div>
</div>
<!-- <div data-ng-include="'taxAppJs/common/rightSidebar/partials/rightSidebar.html'"></div> -->