<div class="privileges-info-dialog-main">
  <div class="modal-header dialog-header-confirm">
    <h4 class="modal-title">
      <span>MyTAXPrepOffice Update</span>
    </h4>
  </div>
  <div class="modal-body clearfix">
    <div class="col-lg-24 col-sm-24 col-md-24 col-xs-24 pl-0">
      <div class="mt-1">The first 2019 MyTAXPrepOffice update has arrived!</div>
      <div class="mt-1"><a [href]="static_url + '/2018/download/MyTAXPrepOffice_ReleaseUpdates.pdf'" target="_blank">Click
          here </a> to learn about the powerful new features included in the 2019 version.
      </div>
      <!-- <div class="mt-1">
        Please click <a [href]="static_url + '/2018/download/MyTAXPrepOffice_ReleaseUpdates.pdf'" target="_blank">here</a>
        for the full release notes.
      </div> -->
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="ok()"><span>Ok</span></button>
  </div>
</div>