<div class="dashboard-content">
  <perfect-scrollbar>
    <div class="dashboard-data-wrap scroll-y">
      <div class="list-ui-with-round-count">
        <div class="list-ui-raw-with-round">
          <div class="raw-with-round-lbl">NAME</div>
          <div class="round-count-ui">
            1
          </div>
        </div>
        <div class="list-ui-raw-with-round">
          <div class="raw-with-round-lbl">NAME</div>
          <div class="round-count-ui">2</div>
        </div>
        <div class="list-ui-raw-with-round">
          <div class="raw-with-round-lbl">NAME</div>
          <div class="round-count-ui">3</div>
        </div>
      </div>
    </div>
  </perfect-scrollbar>
</div>