:host {
    // position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // margin: 24px;
    display: flex;
    flex-direction: column;
  }
  
  
  ag-grid-angular {
    flex: 1;
  }