.snooze_wrapper
{
    border: 1px solid #dddedf;
    width: 100%;
    padding: 10px;
    height: auto;
}
.selected
{
    background-color: #f5f5f5;
    padding: 10px;
}
.not-selected{
    padding: 10px;
}