<div class="bg-white border">
  <div class="col-lg-24 col-md-24 col-sm-24 padding_l_r_0">
    <section class="page_title_wrap title_height_40 clearfix">
      <span class="page_title_lg title_height_40">
        <span class="page_title_lg">
          Change Password
        </span>
      </span>
    </section>
  </div>
  <form class="content" [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
    <div class="inner_padding_15 clearfix static_form_wrap">
      <div class="form-group row px-3">
        <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
          <label>Old Password</label>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
          <input type="password" name="oldPassword" id="oldPassword" class="form-control form-control-lg"
            formControlName="oldPassword" autocomplete="off">
        </div>
      </div>
      <div class="form-group row px-3">
        <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
          <label>New Password</label>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
          <input type="password" class="form-control" autocomplete="off"
            (input)="checkPasswordStrength(formChangePassword.value.newPassword)"
            (blur)="openPopOverConfirmPasswordError('newPassword')" #newPassword="ngbPopover"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&.,():_-])[A-Za-z\d$@#$!%*?&.,():_-]{8,}"
            id="newPassword" formControlName="newPassword" placement="right" [autoClose]="false" triggers="" popoverClass="error-popover"
            ngbPopover="{{(passwordStrength.type !== 'strong') ? 'The password must be at least eight characters long and it must include one uppercase and one lowercase letter (A-Z, a-z), one numeric character (0-9), and one special character from the following list: (&!%*.,$:@#-_?). ' : ''}}">
          <div *ngIf="passwordStrength.score > 0" style="padding-top: 5px;">
            <ngb-progressbar *ngIf="passwordStrength.type === 'strong'" type="success" height="10px"
              [value]="passwordStrength.score">
            </ngb-progressbar>
            <ngb-progressbar *ngIf="passwordStrength.type === 'ok'" type="warning" height="10px"
              [value]="passwordStrength.score">
            </ngb-progressbar>
            <ngb-progressbar *ngIf="passwordStrength.type === 'weak'" type="danger" height="10px"
              [value]="passwordStrength.score">
            </ngb-progressbar>
          </div>
        </div>
      </div>
      <div class="form-group row px-3">
        <div class="col-lg-3 col-sm-3 col-md-3 col-xs-3">
          Confirm Password
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 col-xs-4">
          <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
            placement="right" (blur)="openPopOverConfirmPasswordError('confirmPassword')"  #confirmPassword="ngbPopover"
            [autoClose]="false" triggers=""  popoverClass="error-popover"
            [ngbPopover]="(formChangePassword.controls.confirmPassword && formChangePassword.controls.confirmPassword.errors) ? 'Password does not match' : ''"
            autocomplete="off">
        </div>
      </div>
      <div class="form-group row px-3 pt-2 pb-1">
        <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7">
          <hr class="light_line">
          <div class="float-right">
            <button type="submit" class="btn btn-outline-primary mr-2"
              [disabled]="formChangePassword.invalid">Change</button>
            <button type="button" class="btn btn-outline-primary" (click)="gotoHome()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>