// .bg-transparent{    background-color: #fff !important;}
.form-preview .form-previews .form-previewss{margin: 0 auto 20px!important; display: block;box-shadow: 0 8px 10px 0 rgba(0,0,0,.12);}
.bg-transparent.form-preview {height: calc(100vh - 50px);overflow: auto;}
.bg-transparent.form-preview .col.form-previews{background: #fff;}
div#stmt_container {margin: 0 auto 20px!important; display: block;box-shadow: 0 8px 10px 0 rgba(0,0,0,.12);height: 1198px;}
.stmt_box {width: 100%;margin: 0px auto;height: 1198px;position: relative;display: block;max-width: 918px; box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.12);padding: 35px;}
.preview-set >i {font-size: 34px; margin-bottom: 10px;color: #c01313;}
.preview-set h1 {color: #f8981d;}